---
import Layout from "@/layouts/Layout.astro";
import { ResetPasswordView } from "@/components/views/auth/ResetPasswordView";
---

<Layout title="Resetowanie hasła - 10x Cards">
  <div class="min-h-[calc(100vh-4rem)] flex items-center justify-center py-12 px-4">
    <ResetPasswordView client:load />
  </div>
</Layout>
